<div>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<h1>{{page.title}}</h1>
				<p><i>It's by learning new things in life that makes us grow</i> <br> - Samuel Zulu </p>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Content -->
					<section id="content" class="main">
						<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
						<h2>Grassroots Water Infrastructure</h2>
						<p>Water For Morgan State University (WFMSU) is a student-based movement advocating for the reformation of water fountain infrastructure at MSU. The lack of easy access to water on the MSU campus is unhealthy and needs to be changed. Support the movement by submitting the survey and signing the petition. And to spread the word and keep up to date with the campaign, follow us on Instagram <a href="https://www.instagram.com/waterformsu/" target="_blank">@waterformsu</a>. 
							<br>
							<br>
						All support is greatly appreciated!</p>
					</section>
			</div>
	</div>
</div>