<div class="alligncenter menuContainer tbitpad-2 rbitpad-4 lbitpad-4">
    <ul class="actions fit small">
        
        <li><a href="/psa-video/" class="button fit small">Watch the Video</a></li>
        <li><a href="/data-and-findings/" class="button fit small">Data and Findings</a></li>
        <li><a href="/" class="button fit small">Home</a></li>
        <li><a href="/take-action/" class="button fit small">Take Action</a></li>
        <li><a href="/about/" class="button fit small">About</a></li>
    </ul>
</div>