<div>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<h1>{{page.title}}</h1>
				<p><i>Action is the foundational key to all success</i> <br> - Pablo Picasso</p>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Content -->
					<section id="content" class="main">
						<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
						<h2>Fill out the survey</h2>
						<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd4AHPFqYxzp7LwCD-HWYuxqgjGUZw3i8JRqDnmHVQ3WqhtbA/viewform?embedded=true" width="100%" height="1567" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
					
						<h2>Sign The Petition Here</h2>
						<p>Change.org </p>
					</section>
			</div>
	</div>
</div>