@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')
    
html
    font-family: "Raleway", sans-serif
    width: 100%

body
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6

p
    font-size: 1em
    margin: 0
    padding: 0

::-webkit-scrollbar
    display: none

#home-background
    background-image: url("../img/cliff.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 100vh
    width: 100vw
    position: fixed
    overflow: scroll

.home-container
    position: relative
    margin: 0 40px
    padding: 0
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    color: ghostwhite

#home-title
    margin-top: 40px
    padding: 0
    border-radius: 10px 10px 0 0
    mix-blend-mode: lighten

    .title
        padding: 20px
        margin: 0
        font-size: 2em
        background: ghostwhite
        color: black
        border-radius: 12px 12px 0 0

#home-video
    video
        width: 100%

#home-features

    p
        color: white
        padding: 20px

#home-reviews
    background: white
    color: grey

    p
        padding: 20px

#home-contact

#home-footer
    border-radius: 0 0 10px 10px
    margin-bottom: 40px

    p
        padding: 20px
        margin: 0
        color: grey
        background: rgb(240, 240, 240)
        border-radius: 0 0 14px 14px
