@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')
@import './bootstrap.min'

// $theme-primary: #607C58
// $theme-secondary: #92A789
// $theme-tertiary: #F1CFC8
$theme-primary: black
$theme-secondary: #F1DDC5
$theme-tertiary: #948777
$theme-light: #F4F4F4
$theme-dark: rgb(50, 50, 50)
$light-grad-back: linear-gradient(96deg, $theme-secondary, $theme-tertiary)
$light-grad-back-2: linear-gradient(177deg, $theme-secondary, $theme-tertiary)


.masthead
    height: 100vh
    min-height: 500px
    background-image: url('/assets/img/trailer-1.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
